#home-container {
  background-size: cover;
  background-image: url(../../assets/images/hero-gradient.jpg) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: unset;
}
