<div class="row step-container-style pt-2">
  <mat-form-field class="col-md-12">
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date and time"
           [min]="minDate" [max]="maxDate" [disabled]="disabled" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="showSeconds"
                             [stepHour]="1" [stepMinute]="1" [stepSecond]="stepSecond"
                             [touchUi]="false" [color]="red" [enableMeridian]="true"
                             [disableMinute]="disableMinute" [hideTime]="hideTime">
    </ngx-mat-datetime-picker>
  </mat-form-field>
  <button mat-raised-button class="col-md-12 btn-process" (click)="bookSchedule()" [hidden]="isScheduleSuccess">BOOK</button>
  <button mat-raised-button color="primary" matStepperNext class="col-md-12" [hidden]="!isScheduleSuccess">FINISHED!</button>
</div>

<app-progress-spinner [showSpinner]="isShowSpinner"></app-progress-spinner>
