/*
* {
  box-sizing: border-box;
}

  *:focus {
    outline: none;
  }

#signin-container {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, lightgreen, green);
  display: flex;
  justify-content: center;
  align-items: center;
}

  #signin-container > div {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 9%;
  }

    #signin-container > div > div {
      width: 100%;
    }

h3 {
  margin-bottom: 0 !important;
  color: white;
}

.login {
  margin: 3%;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

 .login:hover {
    margin: auto;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px;
}

.app-title {
  text-align: center;
  color: #777;
  padding: 15px;
  background-color: steelblue;
  border-radius: 5px 5px 0 0;
}

.login-form {
  text-align: center;
  padding: 20px;
}

.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1 !important;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

  input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
  }

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

  .btn:hover {
    background-color: #2980B9;
  }

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}
*/


mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
  color: rgba(0, 0, 0, 0.54);
}
