.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

#formRegister {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


mat-form-field {
  width: 300px;
}

#signin-container > div > div > div > div:nth-child(1) {
  margin-top: 37px;
  padding-left: 0;
}

.form-group {
  margin-bottom: 0;
}


