/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../vendor/fontawesome/css/font-awesome.min.css";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.size {
  padding: 20px 15%;
}

div.mat-horizontal-stepper-content {
  display: flex;
  justify-content: center;
}

.step-container-style {
  padding: 0 100px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

mat-form-field {
  width: 300px;
}

canvas {
  display: block;
  vertical-align: bottom;
  height: 80vh;
  width: 100vw;
  background-attachment: fixed;
}

.btn-process {
  background-color: #f07662;
  color: white;
}

#getStarted {
  height: 50px;
  margin: auto;
  background-color: #f07662;
  color: white;
}

#cdk-step-content-0-0 > registration-form {
  min-width: 502px;
  max-width: 502px;
}

.mat-tooltip {
  font-size: 12px !important;
}
